<?xml version="1.0"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="ATMApp.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <!--<add name="DBConnectionString" connectionString="Data Source=SONY-VAIO\SQLEXPRESS;Initial Catalog=ATMDB;Integrated Security=True;"/>-->
    <add name="DBConnectionString" connectionString="Data Source=PRASHANTH\PRASHANTH;Initial Catalog=ATMDB;Integrated Security=True;"/>
  </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup><system.serviceModel>
    <bindings />
    <client />
  </system.serviceModel>
  <applicationSettings>
    <ATMApp.Properties.Settings>
      <setting name="ATMApp_CommunicationRef_CommunicationService"
        serializeAs="String">
        <value>http://localhost:50316/CommunicationService.asmx</value>
      </setting>
    </ATMApp.Properties.Settings>
  </applicationSettings>
</configuration>
